* 
{box-sizing: border-box;}
/* mobile */
    .wrapper {
    max-width: 480px;
    margin: 0 auto;
    grid-auto-columns: 1fr, 1fr;
    grid-auto-rows: repeat(7,1fr);
    display: grid;
    }

    .wrapper > div {
    border: 1px solid #999;
    background-color: #ccc;
    padding:0em;
    color: #666;
      
    }
h6 {
  text-align: left;
  margin: 2em;
}
    .navy {

    text-align: center;
    grid-column: 1/3;
    grid-row: 1;
    height: 95px;

    }
    .background-box {
    grid-column: 1/3;
    grid-row: 2;
    height: 450px;

    }
    .book-box {
    grid-column: 1/3;
    grid-row: 2;
    margin: 10em;
    height: 200px ;
    width: 200px;
}
    .bb-nav {
    grid-column: 1/3;
    grid-row: 2/5;
    margin: 10em;
    height: 50px;
    width: 200px;
    
    }

    .footer {
    width:480px;
}
